Package: gltron
Version: 0.70final-10
Architecture: armhf
Maintainer: Ari Pollak <ari@debian.org>
Installed-Size: 2482
Depends: libc6 (>= 2.13-28), libgcc1 (>= 1:4.4.0), libgl1-mesa-glx | libgl1, libpng12-0 (>= 1.2.13-4), libsdl-sound1.2 (>= 1.0.1), libsdl1.2debian (>= 1.2.11), libstdc++6 (>= 4.3.0), zlib1g (>= 1:1.1.4)
Section: games
Priority: optional
Homepage: http://www.gltron.org
Description: 3D lightcycle game
 glTron is a tron-like lightcycle game with a nice 3D perspective.
 3D acceleration is recommended.
