[Desktop Entry]
Type=Application
Name=Blid GLTron
Comment=glTron for the blinds
Exec=gltron.elf
Icon=icon
Terminal=false
Categories=games;
X-OD-NeedsDownscaling=false
